# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class
webroot
# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

将删除 .gitignore
将删除 .idea/compiler.xml
将删除 .idea/inspectionProfiles/
将删除 .idea/libraries/
将删除 .idea/misc.xml
将删除 .idea/modules.xml
将删除 .idea/vcs.xml
将删除 .idea/workspace.xml
将删除 .idea/dataSources.local.xml
将删除 .idea/dictionaries/liulaoye.xml
将删除 .vertx/
将删除 target/classes/META-INF/
将删除 target/classes/logback.xml
将删除 target/generated-sources/
将删除 target/generated-test-sources/
